{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="mypage-wrapper">

    <!-- 프로필 카드 -->
    <div class="profile-card">
        <div class="profile-left">
            {% if profile.profile_image %}
            <img src="{{ profile.profile_image.url }}" alt="프로필 사진" class="profile-image">
            {% else %}
            <div class="profile-image profile-image-empty"></div>
            {% endif %}
        </div>
        <div class="profile-info">
            <h2>{{ profile.nickname }}</h2>
            <p class="profile-email">{{ profile_user.username }}</p>
            <div class="profile-meta">
                <span>전공 {{ profile.major|default:"미입력" }}</span><br>
                <span>생년월일 {{ profile.birth_date|default:"미입력" }}</span>
            </div>

            <div class="follow-stats">
                <p>팔로워 {{ profile.followers.count }}명</p>
                <p>팔로잉 {{ profile.followings.count }}명</p>
            </div>

            {% if request.user != profile_user %}
                <div class="follow-btn">
                    {% if request.user.profile in profile.followers.all %}
                        <a href="{% url 'users:follow' profile_user.id %}">
                            <button type="button">언팔로우</button>
                        </a>
                    {% else %}
                        <a href="{% url 'users:follow' profile_user.id %}">
                            <button type="button">팔로우</button>
                        </a>
                    {% endif %}
                </div>
            {% endif %}


        </div>
    </div>

</div>

{% endblock %}